
/* hr */

hr {
    border: 0;
    height: 1px;
    background: #D3D3D3;
    background-image: -webkit-linear-gradient(center, #ffffff, #D3D3D3, #ffffff); 
    background-image:    -moz-linear-gradient(center, #ccc, #D3D3D3, #ccc); 
    background-image:     -ms-linear-gradient(center, #ccc, #D3D3D3, #ccc); 
    background-image:      -o-linear-gradient(center, #ccc, #D3D3D3, #ccc); 
}


/* Small Benefits smallbenefits */
.smallbenefits {
    padding: 0px 0px 0px;
}
.smallbenefits h3 {
    padding: 10px 0px;
    margin: 10px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.smallbenefits p {
    text-align: center;
    font-weight: 300;
    padding: 10px;
    line-height: 130%;
}
.image {
	text-align: center;
}

.learnmore {
	padding-bottom: 20px;
}

/* Images */

.hero {
	width: 100%;
}

.icons {
	width: 80px;
}

.founders {
	width: 80%;
}


/* Customer Testimonials, Arthur */

.quote img {
	padding-top: 30px;
}

.quote  {
	padding-top: 20px;
	padding-bottom: 30px;
}

/* Highlight section */


.purple{
    background-color: gray;
    color: #fff;
	padding-bottom: 20px;
	padding-top: 10px;

}
.highlight1 h3 {
    padding: 10px 0px;
    margin: 10px 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}
.highlight1 p {
    text-align: center;
    font-weight: 300;
    padding: 10px;
    line-height: 130%;
}

/* Sign Up */

.signup1 button {
  
    margin: 0 auto;
    margin-top: 0px;
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    color: #FFF;
    padding: 8px 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 4px;
    text-align: center;
}
.signup1 button:hover {
    color: white;
    background-color: #27ae60;
    border: 1px solid #27ae60;
}

/* Text max width */

.tommy{
  max-width: 960px;
  text-align: center;
}
